@import url(notes-commun.css);
@import url(nav.css);

body {
    font-family:"Latin Modern Sans", "Liberation Sans", Calibri, sans-serif;
    text-align:justify
}

pre, code, .whata-code-block {
    font-family:"Latin Modern Mono", "Ubuntu Mono", monospace
}

::-moz-selection { color: black;  background: #FD6; }
::selection      { color: black;  background: #FD6; }

.whata-code-block ::-moz-selection, .whata-output ::-moz-selection, .whata-input ::-moz-selection { color: black;  background: #8C8; }
.whata-code-block ::selection, .whata-output ::selection, .whata-input ::selection { color: black;  background: #8C8; }

nav ::-moz-selection {background:gray;color:black}
nav ::selection {background:gray;color:black}

h1 {
    font-weight:normal
}

#doc-title {
    color: green;
    font-family:"Latin Modern Roman", "Linux Libertine O", "Liberation Sans", Calibri, sans-serif;
    text-align:center;
    font-size:3em
}

.proofread .fixme-anchor {
    background:rgba(255, 160, 160, 0.5);
}

#avertissement-relecture, #apropos-relecture {
    font-size:small;
    font-style:italic;
    color:gray;
/*     color:#A20; */
/*     background:#FFF5F5; */
    max-width:200ex;
    text-align:center;
/*     border:2px solid #FCC; */
/*     border-right:2px solid #FAA; */
    padding-left:1em;
    margin:auto;
    margin-bottom:1em;
}

#avertissement-relecture p {
    margin:0.5ex
}

#avertissement-relecture a {
    color:#777;
    font-weight:bold
}

.whata-real-title-level-1 {
    color:#A70;
    font-size:1.3em
}

.whata-real-title-level-1 code, #content .whata-real-title-level-1 a {
    color:#A80
}

#content .whata-real-title-level-1 a:visited {
    color:#C95
}

.whata-real-title-level-2 {
    color:#720;
    font-size:1.1em
}

.whata-real-title-level-2 code, .whata-real-title-level-2 a {
    color:#F33
}

#doc-title code {
/*     color:maroon */
}

.correction .fleche-before-chapter-name {
    display:none
}

.correction .fleche-before-chapter-name+a {
    float:left;
    font-size:1rem
}

#content a {
    color:#050;
}

#content a:visited {
    color:#5A5;
    font-weight:bold;
}

.chap-prec {
    float:left;
}

.chap-suiv {
    float:right
}

.arbo {
    margin: 0 1em 0 1em;
    font-size:0.9em
}

.chap-prec:before {
    content:" ← "
}

.correction .fleche-before-chapter-name+a:before {
    content:" ← Revenir au chapitre : "
}

.chap-suiv:after {
    content:" → "
}
.chap-prec {
    margin-right:1ex
}

p {
    line-height:150%
}

li > p {
    text-indent:0;
}

#content {
    max-width:120ex;
    margin:auto;
    margin-top:1em
}

.whata-code-block + .whata-code-block {
    margin-top:1ex
}

.whata-title-number {
    font-size:0.9em
}

p code {
    color:#060;
}

.whata-title-number:after {
    content:". ";
    margin-left:-0.5ex
}

.whata-output {
    margin-top:1em;
    position:relative;
    overflow:visible
}

.whata-output:before {
    position:absolute;
    top:-1.5em;
    height:1em;
    font-size:0.8em;
    display:block;
    width:100%;
    content:"Sortie";
    font-style:italic;
    text-align:right;
    color:gray;
    font-family:"Latin Modern Sans", "Liberation Sans", sans-serif;
}

.whata-code-block, .whata-output, .whata-input {
    margin-right:1ex;
    margin-left:2em;
    margin-top:0.8em;
    margin-bottom:0.8em;
    border:1px solid silver;
    overflow:visible
}

.whata pre {
    margin-top:1em;
    margin-bottom:1em
}

.ln {
    color:gray;
}

.whata-code-block > table {
    position:relative;
    left:-4ex
}

#content section {
    margin-left:1ex
}
#content section h1 {
    margin-left:-1ex
}

ul {
    margin-left:1em
}

p+ul {
    margin-top:0
}

.whata-geshi .ln {
    background:none;
    width:3ex
}

#fixme-signaler {
    font-size:small;
    position:fixed;
    top: 1ex;
    right: 1ex;
    background:rgba(100,200,255,0.4);
    opacity:0.5;
    transition:500ms;
    padding:0.3ex 0.5ex;
    box-shadow:0 0 2px #038
}

#fixme-signaler:hover {
    opacity:1;
    background:rgba(200,230,255,1);
}

#fixme-signaler p {
    margin:0;
    padding:0;
    text-indent:0;
}

#fixme-signaler a {
    color:#38B;
}

#fixme-form {
    max-width:60ex;
    text-align:left;
    position:fixed;
    top:0.5ex;
    font-size:small;
    right:0.5ex;
    padding:0.5ex;
    box-shadow:0 0 2px #038;
    background:rgba(230,245,255,1);
}

#fixme-form p {
    margin:0;
    padding:0;
    text-indent:0;
}

#fixme-form textarea {
    width:100%;
    height:8em;
    border:0;
    color:black;
    background:white;
}

#fixme-form input[type=text] {
    float:right;
    border:1px solid silver;
    color:black;
    background:white;
}

#fixme-form input[type=submit] {
    font-weight:bold;
}

#fixme-buttons {
    text-align:center;
}

#fixme-buttons input {
    margin:0.5ex
}

p {
    clear:both
}
#fixme-legal {
    font-size:x-small;
    text-align:justify
}

table pre {
    margin-right:0;
    margin-left:0;
}

table pre:first-child {
    margin-top:0;
}
table pre:last-child {
    margin-bottom:0;
}

#fixme-passage {
    font-weight:bold;
    line-height:1em;
    font-size:small
}

#fixme-passage q {
    color:#F50
}
